html {
    /*background-color: #E9E7DA;*/
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("./SignInBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: #E9E7DA;
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    max-width: 130px;
}

.navbar {
    overflow: hidden;
    background-color: #E9E7DA;
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar a {
    color: #443229;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 14px;
    font-weight: bolder;
    font-size: larger;
}

.navbar > a:hover {color: #815E5B;}

main {
    display: flex;
    flex-direction: column;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}

span{
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

h1{
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.input-field{
    display: flex;
    flex-direction: column;
}

.input{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 42px;
    background: rgba(225, 225, 225, 0.1);
}

i{
    position: relative;
    top: -31px;
    left: 17px;
    color: #fff;
}

::-webkit-input-placeholder{
    color: #fff;
}

.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(225, 225, 225, 0.7);
    cursor: pointer;
    transition: .3s;
}

.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0,0,0,0.2);
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #fff;
    margin-top: 10px;
}

.left{
    display: flex;
}

label a{
    color: #fff;
    text-decoration: none;
}

iframe {
    width: 80%;
    height: 500px;
}

footer {
    width: auto;
    background-color: #815E5B;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 100px;
    padding: 7px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.copyright {
    font-weight: bolder;
    color: #f5edda;
    font-size: 15px;
    padding: 0%;
    margin-right: 50px;
}

.cafe-info {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.cafe-info a {
    padding-top: 14px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    color: #f5edda;
}