html {
    background-color: #E9E7DA;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    background-color: #E9E7DA;
    height: 10%;
    display: flex;
    align-items: center;
}


.logo {
    width: 6%;
    position: relative;
    left: 0;
}

header h1 {
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
}

.dashboard {
    background-color: #f3f1ea;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 10vh;
}

.dashboard h1 {
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    padding-left: 2%;
}

.categories {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    width: 30%;
    position: absolute;
    right: 0;
}

.categories h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    text-decoration: none;
}

.order > span {
    background-color: #FF0000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E9E7DA;
    position: absolute;
    top: 10%;
    left: 27%;
    padding: 1% 2%;
    cursor: pointer;
    font-size: 1.2em;
}

.inquiry > span {
    background-color: #FF0000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E9E7DA;
    position: absolute;
    top: 10%;
    left: 56%;
    padding: 1% 2%;
    cursor: pointer;
    font-size: 1.2em;
}

.report > span {
    background-color: #FF0000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E9E7DA;
    position: absolute;
    top: 10%;
    left: 85%;
    padding: 1% 2%;
    cursor: pointer;
    font-size: 1.2em;
}

.order-container,.product-container, .inquiry-container {
    display: flex;
    flex-direction: column;
    background-color: #f3f1ea;
    box-shadow: 0 2px 2px #443229;
    border-radius: 	1.5625em;
    margin: 5% auto;
    width: 75%;
    height: 70vh;
    overflow-x: scroll;
}


.order-container h1, .product-container h1, .inquiry-container h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5em;
    padding: 0 0 0 2%;
}