html {
    background-color: #E9E7DA;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #E9E7DA;
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    max-width: 130px;
}

.navbar {
    overflow: hidden;
    background-color: #E9E7DA;
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar a {
    color: #443229;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 14px;
    font-weight: bolder;
    font-size: larger;
}

.navbar > a:hover {color: #815E5B;}

main {
    display: flex;
    flex-direction: column;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.left {
    padding-top: 5%;
    margin-left: 10%;
    width: 40%;
}

.right {
    padding-top: 5%;
    width: 80%;
}

h1 {
    color: #443229;
    margin-bottom: 60px;
    font-size: xxx-large;
}

hr {
    width: 20%;
    background-color: #443229;
    height: 2px;
    border: 0;
    margin-right: 100%;
    margin-top: -6%;
}

iframe {
    height: 500px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    width: auto;
    background-color: #815E5B;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.copyright {
    font-weight: bolder;
    color: #f5edda;
    font-size: 15px;
    padding: 0%;
    margin-right: 50px;
}

.cafe-info {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.cafe-info a {
    padding-top: 14px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    color: #f5edda;
}