html {
    background-color: #f3f1ea;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    background-color: #E9E7DA;
    height: 10%;
    display: flex;
    align-items: center;
}


.logo {
    width: 6%;
    position: relative;
    left: 0;
}

header h1 {
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
}

.dashboard {
    background-color: #f3f1ea;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 10vh;
}

.dashboard h1 {
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    padding-left: 2%;
}

.categories {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    width: 30%;
    position: absolute;
    right: 0;
}

.categories h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    text-decoration: none;
}

.order-span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 27%;
    padding: 1% 3%;
    border-radius: 50%;
    font-size: 1.4em;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #FF0000;
    color: #E9E7DA;
    cursor: pointer;
}

.inquiry-span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 56%;
    padding: 1% 3%;
    border-radius: 50%;
    font-size: 1.4em;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #FF0000;
    color: #E9E7DA;
    cursor: pointer;
}

.product-grp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.order-container {
    display: flex;
    flex-direction: column;
    background-color: #E9E7DA;
    box-shadow: 0 2px 2px #443229;
    border-radius: 	1.5625em;
    margin: 3% 0 3% 0;
    width: 30%;
    height: 70vh;
}

.product-container {
    display: flex;
    flex-direction: column;
    background-color: #E9E7DA;
    box-shadow: 0 2px 2px #443229;
    border-radius: 	1.5625em;
    margin: 3% 0 3% 0;
    width: 50%;
    height: 70vh;
}

.inquiry-container {
    display: flex;
    flex-direction: column;
    background-color: #f3f1ea;
    box-shadow: 0 2px 2px #443229;
    border-radius: 	1.5625em;
    margin: 5% auto;
    width: 75%;
    height: 70vh;
}

.order-container h1, .product-container h1, .inquiry-container h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5em;
    padding: 0 0 0 2%;
}

.inquiry-container td{
    width: 100px;
    overflow: hidden;
}

.inquiry-container thead{
    text-align: center;
}