html {
    background-color: #E9E7DA;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: #E9E7DA;
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    max-width: 130px;
    /*transition: transfrom 5s ease-in-out;*/
}

.navbar {
    overflow: hidden;
    background-color: #E9E7DA;
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar a {
    color: #443229;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 14px;
    font-weight: bolder;
    font-size: larger;
}

.navbar > a:hover {color: #815E5B;}

.coverPhoto{
    height: auto;
    width: auto;
}

.coverPhoto img {
    height: 100%;
    width: 100%;
}

.coverPhoto h1 {
    position: absolute;
    margin-top: -150px;
    margin-left: 200px;
    font-size: 72px;
    color: #E9E7DA;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.textContainer {
    padding-top: 50px;
}

.leftContainer {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #443229;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.start {
    text-align: center;
}

.end {
    text-align: center;
}

.leftContainer p {
    font-size: 18px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin-left: 450px;
}
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #443229;
    color: white;
  }

footer {
    width: auto;
    background-color: #815E5B;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 100px;
    padding: 7px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.copyright {
    font-weight: bolder;
    color: #f5edda;
    font-size: 15px;
    padding: 0%;
    margin-right: 50px;
}

.cafe-info {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.cafe-info a {
    padding-top: 14px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    color: #f5edda;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}