html {
    background-color: #E9E7DA;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: #E9E7DA;
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    max-width: 130px;
    /*transition: transfrom 5s ease-in-out;*/
}

.navbar {
    overflow: hidden;
    background-color: #E9E7DA;
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar a {
    color: #443229;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 14px;
    font-weight: bolder;
    font-size: larger;
}

.navbar > a:hover {color: #815E5B;}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.section {
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section {
    float: left;
    width: 55%;
}

.image-section {
    float: right;
    width: 40%;
}

.image-section img {
    width: 100%;
    height: auto;
}

.content-section .title {
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .content h3 {
    margin-top: 20px;
    font-size: 21px;
}

.content-section .content p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
}

.content-section .content .button {
    margin-top: 30px;
}

.content-section .content .button a {
    background-color: #443229;
    padding: 12px 40px;
    text-decoration: none;
    color: #E9E7DA;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.content-section .content .button a:hover {
    background-color: #aa6c4d;
    color: #E9E7DA;
}

.content-section .social {
    margin-top: 40px;
}

.content-section .social i {
    color: #443229;
    font-size: 30px;
    padding: 0px 10px;
}

.content-section .social i:hover {
    color: #aa6c4d;
}

@media screen and (max-width: 768px) {
    .container {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }

    .content-section {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    .image-section {
        float: none;
        width: 100%;
    }

    .image-section img {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }

    .content-section .title {
        text-align: center;
        font-size: 19px;
    }

    .content-section .content .button {
        text-align: center;
    }

    .content-section .content .button a {
        padding: 9px 30px;
    }

    .content-section .social {
        text-align: center;
    }
}

footer {
    width: auto;
    background-color: #815E5B;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 200px;
    padding: 7px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.copyright {
    margin-top: 20px;
    font-weight: bolder;
    color: #f5edda;
    font-size: 15px;
}

.cafe-info {
    width: 50%;
    display: flex;
    justify-content: center;
}

.cafe-info > a {
    padding: 20px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    color: #f5edda;
}
