body {
    font-family: Century Gothic, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: #E9E7DA;
  }
 
  nav {
    background-color: #E9E7DA;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  nav logo{
    text-align: left;
    margin-right: 5%;
  }

  nav a {
    color: black;
    padding: 25px 25px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: #D5C5B5;
  }

  .background-drink {
    background-image: url("./Pictures/BGdrinks.png");
    background-position: center;
    padding: 50px;
    text-align: center;
    color: #815E5B;
    font-family: Century Gothic, sans-serif;
    font-size: 50px;
  }


  .background-pastry {
    background-image: url("./Pictures/BGpastry.png");
    background-position: center;
    padding: 50px;
    text-align: center;
    color: #815E5B;
    font-family: Century Gothic, sans-serif;
    font-size: 50px;
  }


  .coldDrinks{
    margin: auto;
    width: 900px;
    display: flex;
    overflow-x: scroll;
  }

  .coldDrinks div{
    width: 200%;
    display: flex;
    grid-template-columns: auto auto auto;
    grid-gap: 80px;
    padding: 10px;
    margin: 10% auto;
    flex: none;
  }

  .coldDrinks img{
    width: 200%;
    filter: grayscale(100%);
    transition: transform 0.5s;
  }

  .coldDrinks::-webkit-scrollbar{
    display: none;
  }

  .coldDrinks div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1)
    
  }

  .coldDrinks div p{
    margin-left: 70%;
    text-align: justify;
    font-family: Century Gothic, sans-serif;
    font-size: 50px;
  }


  

  



